.footer__link {
    text-decoration: none;
    transition: 0.3s;
    height: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding-right: 18px;
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin-right: 0;
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 1;
    }
    .footer__link:nth-last-child(1) {
        margin-bottom: 48px;
    }
}

.footer__link:last-child {
    padding-right: 0;
}

.footer__link:hover {
    opacity: 0.6;
}