.footer__links {
    display: flex;
    padding: 0;
    list-style: none;
    height: fit-content;
    margin: 0 0 24px 48px;
    width: fit-content;
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        margin-bottom: 48px;
        margin-left: 0;
    }
}