.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 92px;
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 64px;
        margin-left: 16px;
    }
}
@media screen and (max-width: 1023px) {
    .footer {
        margin-top: 88px;
    }
}